# Generic
.idea/
*.iml
.vscode/
cache/
dist/
build/
node_modules/
*.tsbuildinfo
# WXT
.output
stats.html
stats-*.json
.wxt
web-ext.config.ts
web-ext-artifacts/
# VitePress
contributors.json
.env
.env.development
