/* CSS for popup.html */

body {
    min-width: 340px;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

#hostname {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
